/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/app/tmp/*
/storage/pail
.env
.env.backup
.env.production
.phpunit.result.cache
/.phpunit.cache
auth.json
*.sql
*.sql.gz
*.zip
/.idea
/.vscode
Homestead.*
npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db
