/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/app/tmp/*
/storage/pail
.env
.env.backup
.env.production
.phpunit.result.cache
/.phpunit.cache
auth.json
*.sql
*.sql.gz
*.zip
/.idea
/.vscode
Homestead.*
npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db
*.log
.phpactor.json
/.codex
/.cursor/
/.nova
/.zed
/auth.json
/public/fonts-manifest.dev.json
_ide_helper.php
Homestead.json
Homestead.yaml
